@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-neutralColour;
}

/* ----- Global animations ---- */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndMakeFullWidth {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-8deg);
  }

  60% {
    transform: rotate(14deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
